[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = ">=5.2.2"
pytest-mock = ">=1.11.2"
black = "==19.3b0"
mypy = ">=0.740"
pytest-mypy = ">=0.4.1"
pytest-cov = ">=2.8.1"
pytest-benchmark = {extras = ["histogram"],version = "*"}
hypothesis = ">=4.42.3"

[packages]

[requires]
python_version = "3.7"
